asttokens
attrs
backcall
click
colorama
cycler
debugpy
decorator
entrypoints
executing
Flask
fonttools
importlib-metadata
iniconfig
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter-core
jupyter_client
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
pluggy
prompt-toolkit
psutil
pure-eval
py
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
pyzmq
scikit-learn
scipy
seaborn
six
sklearn
stack-data
threadpoolctl
tomli
tornado
traitlets
wcwidth
Werkzeug
zipp
